---
---

@import "{{ site.theme }}";

.row {
    margin: 10px;
    margin-bottom: 10px;
}


 .figure-caption {
     font-size: 24px;
     color: blue;
 }

 .text-light {
     font-size: 48px;
 }

 .navbar-dark .navbar-nav .nav-link {
    color: white;
}

#linked-in {
    background-color: black;

    border-radius: 5px;

}

#email {
    border-radius: 5px;
}

#github {
  background-color: black;
  border-radius: 5px;
}

#footer {
    margin-top: 50px;
}


.fadeinout {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    0%,  100% {
      filter: invert(0)
    }
    25% {
        filter: invert(1)
    }

  }

  .meta {
    font-size: 36px;
  }

  #bottom-text{

    color: white;

  }

  img {
    image-orientation: from-image;
}

.contact {
    font-size: 36px;
}



