img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
    text-align: center;
}

h1 {
    padding: 20px;
    border: 20px;
    margin: 20px;
    background-color: blue;
    color: orange;
}

p {
    color:white;
    background-color: #ff3b3f;
}